
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FEDBB7;

// Font Assignments

@roboto-font: @roboto;
@indie-font: @indie;

// Fonts 

@roboto: 'Roboto', sans-serif;
@indie: 'Indie Flower', cursive;

// Button Assignments

@button-w: 85%;
@button-h: 4rem;